<!-- <h1>WELCOME TO GLOBAL CHAMPION</h1> -->
<h2>Player 1:
  <% unless @round.player_1_id == nil %>
    <%= User.find(@round.player_1_id).email %>
  <% end -%>
</h2>
<h2>Player 2:
  <% unless @round.player_2_id == nil %>
    <%= User.find(@round.player_2_id).email %>
  <% end -%>
</h2>

<%= render "shared/choices_#{params[:controller]}" %>

<%= render "shared/arms" %>
<ul class="bottom-navigation">
  <li><%= link_to 'play next open game', new_round_path %></li>
  <li><%= link_to 'play alone', root_path %></li>
</ul>