<!-- case statement for  -->
<h2 id="result"></h2>
<% player_number = @round.player_number(current_user) %>
<% hand_column = "player_#{player_number}_hand" %>
<% other_player_number = ((player_number == 1) ? 2 : 1) %>
<% other_player_hand = "player_#{other_player_number}_hand" %>
<% case @round.status %>
  <% when "input" %>
    <!-- do this, but make partial later -->
    <%= form_for @round do |f| %>
      <%= f.hidden_field hand_column, value: "rock"  %>
      <%= image_submit_tag "luchador_rock.png", onClick: 'refreshPage("rock");', :class => 'btn', id: "rock_button", alt: "Rock" %>
    <% end %>
    <%= form_for @round do |f| %>
      <%= f.hidden_field hand_column, value: "paper"  %>
      <%= image_submit_tag "luchador_paper.png", onClick: 'refreshPage("paper");', :class => 'btn', id: "paper_button", alt: "Paper" %>
    <% end %>
    <%= form_for @round do |f| %>
      <%= f.hidden_field hand_column, value: "scissors"  %>
      <%= image_submit_tag "luchador_scissors.png", onClick: 'refreshPage("scissors");', :class => 'btn', id: "scissors_button", alt: "Scissors" %>
    <% end %>
  <% when "waiting" %>
    <p>waiting for other player</p>

    <script>
      var waitingInterval = setInterval(function() {
        $.getJSON("<%= round_path(@round) %>", function(data) {
          //generates: compare(data.round.player_1_hand, data.round.player_2_hand)
          if (data.status === "complete") {
            clearInterval(waitingInterval);
            compare(<%= "data.#{hand_column}" %>, <%= "data.#{other_player_hand}" %>);
          };
        }).fail(function(){
          console.log("errors getting show");
        });
      },1000)
    </script>
  <% when "complete" %>

    <script>
      compare('<%= @round.send(hand_column) %>', '<%= @round.send(other_player_hand) %>');
    </script>

<% end -%>
